body{
    margin: center;
    align-items: center;
    background: rgb(195,34,34);
    background: linear-gradient(0deg, rgba(195,34,34,1) 6%, rgba(212,253,45,1) 100%);
    font-size: 2.5;
    
}
h1{
    color: #84020a;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center,justify;
}
img{
    width: 600px;
    height: 600px;
}
.container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    }