body{
    margin: center;
    align-items: center;
    background: rgb(195,34,34);
    background: linear-gradient(0deg, rgba(195,34,34,1) 6%, rgba(212,253,45,1) 100%);
}
h1{
    size: 42px;
    color: #84020a;
}
p{
    size: 28px;
    color: rgb(0, 0, 0);
    text-align: center,justify;
}
img{
    width: 600px;
    height: 600px;
}
.container {
        display: flex;
        justify-content: center;
        align-items: center;
        }